<!-- <h1>dashboard</h1> -->


<div class='faq'>

	<h2>Frequently Asked Questions</h2>
	<ol>
<!-- 	<hr>
		<li>
			<p>How do I open the Wilson Library catalog?</p>
			<p>Turn on the computer.</p>
			<p>Click on “guest”</p>
			<p>Click on the Google Chrome button in the upper left corner of the screen.</p>
			<p>The “home page” will come up.</p>
		</li>
		<li>
			<hr>
			<p>How do I “login?”</p>
			<p>Click on the BLUE button marked “computer login.”</p>

			<p>The password is written on the card on the computer.</p>
		</li> -->
		<li>
			<hr>
			<p>How can I see all the books in the catalog?</p>

			<p>Click on the Blue button marked “Book Index”</p>

			<p>All the books entered will be displayed in a table.</p>
		</li>
		<li>
			<hr>
			<p>How do I search for a book?</p>
			<p>Look at the blue button that says “Search.”</p>
			<p>Click on the “down arrow” if you want to search for
				(“author” “subject” “call numbers” or “copyright.”)</p>
				<p>Type in the information for the item chosen.</p>
				<p>Click the Search button and it will try to find relavent results.</p>
			</li>

<!-- 			<li>
				<hr>
				<p>How do I add a book to the catalog?</p>
				<p>Click on the orange “Add New Book” button.</p>
				<p>Put the cursor in each white field and enter the information for each book.</p>
				<p>When finished entering the information, click on the orange button “Create Book.”</p>
				<p>The information for the book will be on the home page.</p>
				<p>The next screen will give you a chance to “go back”, “edit” and “destroy.”</p>
				</p>
				</p>
			</li> -->

<!-- 			<li>
				<hr>
				<p>How do I edit the information incorrectly entered for a book?</p>
				<p>To get to the “edit page,” click on the “show more”</p>
				<p>button on the right of the book entry. </p>
				<p>Correct the information for the book and click the</p>
				<p>“Update” button.</p>
			</li>
			<li>
				<hr>
				<p>How do I close down the database?</p>
				<p>Click on the “red X” button at the upper right corner.</p>
				<p>click on the bottom left circle. Not the Google Chrome circle.</p>
				<p>Click on the “shut down” button.</p>
				<p>You may have to wait if there are files to be installed.</p>
				<p>After that process, the computer will shut down.</p>
				<p>Close the lid and put the laptop in the bottom left drawer of the desk.</p>
			</li> -->
		</ol>
	</div>


<!-- 	<div class='update_log'>
		<h2>Update Log</h2>
		<ul>
			<li>Version 0.52 - 6/6/2015 - Updated contact list.</li>
			<li>Version 0.51 - 8/15/2015 - Added logout button and as requested, turned on search by subject.</li>
			<li>Version 0.5 - 8/14/2015 - Database and other functionality work, search ability needs refactoring; Disabled search by subject for the duration of refactoring, IT WILL BE BACK SOON... once I get the more important searches behaving well.</li>

		</ul>
	</div> -->
