<div class="cell">
  <h1>Book Index</h1>

<%= will_paginate @books, :container => false %>

</div>
<table class="cell">
  <thead>
    <tr>
      <th>Call num</th>
      <th>Title</th>
      <th>Author</th>
      <th>Copyright</th>
      <th>Subject</th>
      <th>Subtitle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>

    <%= render 'table', book: book %>

    <% end %>
  </tbody>
</table>

<br>

